{% if include.block %}
  {%- assign block_style = "btn-block" -%}
{%- else -%}
  {%- assign block_style = "" -%}
{%- endif -%}

{% if include.link %}
  <a class="m-1 btn btn-{{ include.style | default: 'outline-primary' }} btn-{{ include.size | default: 'md' }} {{ block_style }}" href="{{ include.link }}">
    {{ include.text | default: "Button" }}
  </a>
{% else %}
  <button class="m-1 btn btn-{{ include.style | default: 'outline-primary' }} btn-{{ include.size | default: 'md' }} {{ block_style }}" disabled>
    {{ include.text | default: "Button" }}
  </button>
{% endif %}